@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(60px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.about-us-container {
    position: absolute;
    top: 10%;
    left: 30%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;

    color: white;
    z-index: 9999;
    text-align: center;
    animation: slideUpFade 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.about-us-container::-webkit-scrollbar {
    display: none;
}

.about-us-button {
    margin-top: 1rem;
    cursor: pointer;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    transition: all 0.3s ease;

}

.heading {
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(6, 2, 16, 0.7);
    backdrop-filter: blur(40px);
    padding-bottom: 10px;
}

.card {
    color: white;
    margin-top: 1rem;

    padding: 8px 16px;

    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    backdrop-filter: blur(3px);
    margin-bottom: 100px;
    transition: all 0.3s ease;
    background: linear-gradient(135deg,
            rgba(55, 38, 94, 0.595),
            rgba(111, 110, 179, 0));
    line-height: 2;
}

.card h2 {

    color: rgb(234, 229, 229);
    text-align: center;
    padding: 0 20px;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;


}

.card p {
    font-size: 18px;
    color: white;
    text-align: center;
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}

.about-us-button:hover {
    background: rgba(255, 255, 255, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.6);

    box-shadow: 0px 0px 10px rgba(120, 40, 200, 0.8);
}

.card:hover {
    background: rgba(255, 255, 255, 0.2);

    border: 1px solid rgba(255, 255, 255, 0);

    box-shadow: 0px 0px 10px rgba(144, 48, 241, 0.8);
    transform: translateY(-4px);

}

.cubeit_td {
    background: rgba(15, 23, 42, 0.03);
    color: rgb(178, 176, 176);
    padding: 28px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.6;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(34, 197, 94, 0.25);
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.08);
    transition: all 0.3s ease;
    max-width: 1100px;
    margin: 10px;
}



.traditional_td {


    background: rgba(15, 23, 42, 0.03);
    border-radius: 6px;
    backdrop-filter: blur(3px);
    color: rgb(178, 176, 176);
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid rgba(239, 68, 68, 0.25);
    box-shadow: 0 0 20px rgba(239, 68, 68, 0.08);
    border-radius: 18px;
    transition: all 0.3s ease;
    max-width: 1100px;
    margin: 10px;
    padding: 28px;


}

.cubeit_td:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 30px rgba(34, 197, 94, 0.2);
}

.traditional_td:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 30px rgba(239, 68, 68, 0.25);
}

.th {

    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 6px;

    text-align: center;


}

.cubeit_td.th {
    color: rgba(34, 197, 94, 1);

    text-shadow: 0 0 12px rgba(34, 197, 94, 0.7);

    border-top: 2px solid rgba(34, 197, 94, 0.6);

}


.traditional_td.th {
    color: rgba(239, 68, 68, 1);

    text-shadow: 0 0 12px rgba(239, 68, 68, 0.7);

    border-top: 2px solid rgba(239, 68, 68, 0.6);

}

p {
    margin: 10px;
}

.github-icon {
    filter: invert(1);
    cursor: pointer;
}

.github-icon:hover {
    filter: invert(0);
}